* {
  margin: 0px;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}
a {
  text-decoration: none;
}

.padre {
  display: flex;
  flex-flow: column nowrap;
}
.header {
  background: url(../images/IMG_20180330_170745.jpg);
  background-position: center;
  background-attachment: scroll;
  background-size: cover;

  display: flex;
  flex-flow: column nowrap;
}
.menu {
  background: rgba(0, 0, 0, 0.1);
  height: 60px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  display: flex;
  flex-flow: row nowrap;
}
.logo {
  color: #fff;

  flex: 1 1 auto;
}
.logo a {
  color: #fff;
  font-size: 30px;
}
.logo a:hover {
  color: #d0a51e;
}
.nav {
  flex: 5 1 auto;
}
.nav a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}
nav a:hover {
  color: #d0a51e;
}
.social {
  display: flex;
  flex: 1 1 auto;
}
.social a {
  font-size: 20px;
  color: #fff;
  padding: 0 5px;
}
.social a:hover {
  color: #d0a51e;
}
.texto-principal {
  background-color: #f07b3f;
}
h1 {
  background-color: #ffd460;
}
h4 {
  text-align: center;
}
.section {
  background-color: #000;

  display: flex;
}
.articulos {
  background-color: #4e4e6a;

  display: flex;
  flex-flow: row wrap;
  flex: 2 1 auto;
}
.article {
  background-color: #1f6cb0;

  flex: 1 1 40%;
}
.navegacion {
  background-color: #000;
  flex: 1 1 100%;
}
.aside {
  background-color: #f73f52;
  flex: 1 1 auto;
}
.publicidad {
  background-color: #ffea85;
}
.footer {
  background-color: #000;

  display: flex;
  justify-content: center;
}
.pie {
  background-color: #e6af2e;
  width: 300px;
  text-align: center;
}

@media all and (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
  .aside {
    display: flex;
    justify-content: center;
  }
}
@media all and (max-width: 600px) {
  .articulos {
    flex-direction: column;
  }
}

@media all and (max-width: 400px) {
  .aside {
    flex-direction: column;
  }
}
